html{
    scroll-behavior: smooth;
}
 body{
     background-color: #FFF07C;
     font-family: "Sen", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
     width: 100%;
 }
 #ellipse{
     background-color: #0D1321;
     width: 100%;
     height: 1290px;
     clip-path: ellipse(92% 58% at 12% 1%);
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     z-index: -1;
 }
 header{
     position: relative;
     top: 0;
     width: 100%;
     height: 80px;
     z-index: 1000;
 }
 header>#logo{
     width: 170px;
     height: 57px;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 35px;
     margin: auto;
     opacity: 0.8;
 }
#logo video {
    display: block; /* Ensures the video is a block element */
    width: 170px;
    height: 170px;
    object-fit: cover; /* Ensures the video covers the specified dimensions without distortion */
    padding: 0; /* Removes any default padding */
    margin: 0; /* Removes any default margin */
    border-radius: 100px;
    border: 4px solid #FFF07C;
}
header>nav {
    height: fit-content;
    position: absolute;
    font-weight: 400;
    font-size: 22px;
    right: 120px;
    bottom: 28%;
}
header>nav>a {
    color: #E0E0E0;
    text-decoration: none;
    margin-right: 35px;
    width: 122px;
    height: 29px;
    display: inline-block;
    text-align: center;
    transition: .3s ease-in-out;
}
header>nav>a:first-child {
    border: 3px solid #FFF07C;
    border-radius: 20px;
    font-weight: bold;
}
header>nav>a:nth-child(2):hover,header>nav>a:nth-child(3):hover,
header>nav>a:nth-child(4):hover,header>nav>a:nth-child(5):hover {
    color: #FFF07C;
    font-weight: bold;
}
#hero-section {
    position: relative;
    height: 690px;
    width: 88%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#hero-section>#right-side {
    width: 689px;
    height: 875px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("../images/its_me.png") center no-repeat;
    background-size: cover;
    margin-top: 50px;
    /*margin-bottom: 50px;*/
    /*z-index: 2;*/
    clip-path: ellipse(92% 58% at 12% 1%);
}
#theme {
    font-size: 65px;
    font-family: "Abril Fatface", serif;
    font-weight: 617;
    font-style: normal;
    color: #FFF07C;
}
#hero-section>#left-side {
    color: #E0E0E0;
    font-weight: 400;
    font-size: 35px;
    height: 618px;
    width: 598px;
}
#hero-section>#left-side>.social-media {
    height: 100px;
    width: 470px;
    position: absolute;
    bottom: 35px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero-section>#left-side>.socials>.github {
    height: 75px;
    aspect-ratio: 1/1;
    background: url("../images/socialMediaLogos/gihub.jpeg") center;
    margin-right: 15px;
    background-size: cover;
    border-radius: 100%;
    transition-duration: 0.2s;
}
#hero-section>#left-side>.socials>.linkedin {
    height: 75px;
    aspect-ratio: 1/1;
    background: url("../images/socialMediaLogos/linkedin.jpeg") center;
    background-size: 90px 90px;
    margin-right: 15px;
    border-radius: 100%;
    transition-duration: 0.2s;
}

#hero-section>#left-side>.socials>.medium {
    height: 75px;
    aspect-ratio: 1/1;
    background: url("../images/socialMediaLogos/Mediumlogo.jpeg") center no-repeat;
    background-size: 75px 75px;
    margin-right: 15px;
    border-radius: 100%;
    transition-duration: 0.2s;
}

#hero-section>#left-side>.socials>.stack-overflow {
    height: 75px;
    aspect-ratio: 1/1;
    background: url("../images/socialMediaLogos/StackoverflowLogo.jpeg") center no-repeat;
    background-size: cover;
    margin-right: 15px;
    border-radius: 100%;
    transition-duration: 0.2s;
}

#hero-section>#left-side>.socials>.instagram {
    height: 76px;
    aspect-ratio: 1/1;
    background: url("../images/socialMediaLogos/insta-removebg-preview.png") no-repeat -10px -11px;
    background-size: 98px 98px;
    margin-right: 15px;
    border-radius: 50%;
    transition-duration: 0.2s;
}

#introduction {
    height: 400px;
    width: 650px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#introduction>h2>#name {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 45px;
    color: #E1B12C;
}

.professions {
    width: 420px;
    height: 40px;
    top: 343px;
    position: absolute;
    left: 0px;
    overflow: hidden;
}

#introduction>div>span {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 34px;
    color: #E1B12C;
    display: block;
    animation: spin_words 6s infinite;
}

#introduction>h3 {
    position: absolute;
    display: block;
    top: 260px;
    color: #E1B12C;
}

.line-left>hr,.line-right>hr {
    height: 3px;
    width: 37dvw;
    border: 0;
    background: #0D1321;
}

.line-left {
    position: absolute;
    left: 0;
    top: 22px;
}

.line-right {
    position: absolute;
    right: 0;
    top: 22px;
}

#about {
    position: relative;
    height: 100vh;
    width: 100%;
    top: 140px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #FFF07C;
}

#about>h1 {
    width: 230px;
    height: 60px;
    color: #0D1321;
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    margin: auto;
}

#about-left {
    width: 600px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 65px;
    background: url("../images/matrix.gif") center no-repeat;
    background-size: calc(550px);
    margin: auto;
}

#about-right {
    height: 400px;
    width: 741px;
    position: absolute;
    font-weight: bold;
    color: #0D1321;
    font-size: 28px;
    text-align: center;
    bottom: 133px;
    right: 30px;
    margin: auto;
}

#about-right>p:nth-child(2) {
    display: none;
}

#line-long_01>hr {
    height: 3px;
    width: 55dvw;
    border: 0;
    background: #FFF07C;
    position: absolute;
    right: 0;
    top: 22px;
}

#services{
    position: absolute;
    height: 1589px;
    width: 100%;
    top: 2198px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: #0D1321;
}

#websites{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    height: 600px;
    width: 88%;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#websites>#websites-left-side{
    height: 474px;
    width: 500px;
    border: 3px solid #FFF07C;
    border-radius: 40px;
}

#websites-right-side{
    width: 598px;
    height: 473px;
    position: absolute;
    top: 0;
    right: 0;
    /*bottom: 0;*/
    background: url("../images/website-gif.gif") center no-repeat;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 80px;
    border: 3px solid #FFF07C;
    border-radius: 40px;
    overflow: hidden;
}

#websites>#websites-left-side>h1{
    font-family: 'Georgia', serif;
    font-weight: 700;
    width: 520px;
    height: 60px;
    color: #FFF07C;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 48px;
    position: absolute;
    left: 0;
    top: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    /*margin: auto;*/
}

#websites>#websites-left-side>#website-desc>h2{
    font-family: 'Georgia', serif;
    font-size: 28px;
    font-weight: 600;
    color: #ffcc00;
    margin-bottom: 15px;
    margin-left: 10px;
}

#websites>#websites-left-side>#website-desc{
    height: 300px;
    position: relative;
    left: 0;
    top: 130px;
    margin: auto;
}

#websites>ol{
    list-style: decimal inside;
    margin-left: 20px;
}

#websites>ol>li{
    margin-bottom: 10px;
}

#pos{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: white;
    line-height: 2;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    height: 600px;
    width: 88%;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#pos>h1{
    width: 540px;
    height: 60px;
    color: #FFF07C;
    font-weight: bold;
    font-size: 48px;
    position: absolute;
    left: 0;
    top: 0;
    /*margin: auto;*/
    margin-bottom: 20px;
}

#pos>#pos-left-side{
    width: 598px;
    height: 473px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: url("../images/pos-animation-2.gif");
    background-size: cover;
    border: 3px solid #FFF07C;
    border-radius: 40px;
    overflow: hidden;
}

#pos>#pos-right-side{
    height: 473px;
    width: 500px;
    border: 3px solid #FFF07C;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    border-radius: 40px;
    overflow: hidden;
}

#pos>#pos-right-side>h1{
    font-family: 'Georgia', serif;
    font-weight: 700;
    width: 520px;
    height: 60px;
    color: #FFF07C;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 48px;
    position: absolute;
    right: 0;
    top: 0;
    left: 6px;
}

#pos>#pos-right-side>#pos-desc{
    height: 300px;
    width: 520px;
    position: absolute;
    right: 0;
    top: 100px;
    margin: auto;
}

#pos-desc > h2 {
    font-family: 'Georgia', serif;
    font-size: 28px;
    font-weight: 600;
    color: #ffcc00;
    margin-bottom: 15px;
    margin-left: 35px;
    top: 276px;
    position: absolute;
}

#pos-desc > ol {
    list-style: decimal inside;
    margin-left: 20px;
    padding: 25px;
}

#pos-desc>ol>li{
    margin-bottom: 10px;
}

#custom{
    color: white;
    position: relative;
    height: 790px;
    width: 88%;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#custom>p{
    margin-top: -23vh;
    position: absolute;
    top: 100px;
}

#custom>h1{
    font-family: 'Georgia', serif;
    font-weight: 700;
    width: 520px;
    height: 60px;
    color: #FFF07C;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 48px;
    position: absolute;
    left: 0;
    top: -190px;
    bottom: 0;
    margin-bottom: 14px;
}

footer{
    position: absolute;
    height: 11px;
    top: 2228px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #FFF07C;
}

#footer-eclipse{
    clip-path: ellipse(93% 22% at 92% 103%);
    background-color: #0D1321;
    width: 106%;
    height: 1844px;
    position: relative;
    bottom: 0;
    z-index: -1;
    right: 8px;
    top: 100px;
}

footer>#logo-footer{
    width: 170px;
    height: 57px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 35px;
    margin: auto;
    opacity: 1.5;
}

#logo-footer video {
    display: block;
    width: 170px;
    height: 170px;
    object-fit: cover;
    padding: 0;
    margin: 0;
    border-radius: 100px;
    border: 4px solid #FFF07C;
    position: absolute;
    bottom: 219px;
    left: 507px;
}

#footer-content{
    width: 320px;
    height: 220px;
    font-size: 22px;
    position: absolute;
    top: 30px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

#copy-rights {
    height: 30px;
    width: 538px;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 908px;
    right: 0;
    margin: auto;
    top: 1809px;
}

footer>.social-media{
    height: 100px;
    width: 470px;
    position: absolute;
    top: 1802px;
    right: 0;
    left: 38px;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer>.social-media>.github{
    height: 55px;
    aspect-ratio: 1/1;
    background: url("../images/socialMediaLogos/gihub.jpeg") center;
    margin-right: 15px;
    background-size: cover;
    border-radius: 100%;
    transition-duration: 0.2s;
}

footer>.social-media>.linkedin {
    height: 55px;
    aspect-ratio: 1/1;
    background: url("../images/socialMediaLogos/linkedin.jpeg") center;
    background-size: 65px 65px;
    margin-right: 15px;
    border-radius: 100%;
    transition-duration: 0.2s;
}

footer>.social-media>.medium{
    height: 55px;
    aspect-ratio: 1/1;
    background: url("../images/socialMediaLogos/Mediumlogo.jpeg") center no-repeat;
    background-size: 75px 75px;
    margin-right: 15px;
    border-radius: 100%;
    transition-duration: 0.2s;
}

footer>.social-media>.stack-overflow{
    height: 55px;
    aspect-ratio: 1/1;
    background: url("../images/socialMediaLogos/StackoverflowLogo.jpeg") center no-repeat;
    background-size: cover;
    margin-right: 15px;
    border-radius: 100%;
    transition-duration: 0.2s;
}

footer>.social-media>.instagram{
    height: 56px;
    aspect-ratio: 1/1;
    background: url("../images/socialMediaLogos/insta-removebg-preview.png") no-repeat -8px -8px;
    background-size: 74px 74px;
    margin-right: 15px;
    border-radius: 50%;
    transition-duration: 0.2s;
}

#contact-details-section{
    position: relative;
    height: 500px;
    width: 88%;
    top: 1685px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#contact-details-left-side>h2{
    color: #0D1321;
}

#contact-details-left-side {
    width: 350px;
    height: 410px;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 20px;
    margin: auto;
    border-radius: 20px;
    border: 3px solid #eab520;
}

#contact-details-left-side>input {
    width: 250px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    color: #E0E0E0;
    background-color: #0D1321;
}

#contact-details-left-side>textarea {
    text-align: center;
    border-radius: 20px;
    color: #E0E0E0;
    background-color: #0D1321;
}

::placeholder {
    color: #E0E0E0;
}

#contact-details-middle {
    width: 300px;
    height: 400px;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#contact-details-middle>p {
    width: 300px;
    height: 90px;
    margin-top: 41px;
    color: #0D1321;
    font-weight: bold;
    font-size: 24px;
}

#contact-details-right-side {
    width: 320px;
    height: 320px;
    position: absolute;
    background: url("/assets/images/Social media.gif") center no-repeat;
    background-size: cover;
    top: 0;
    bottom: 30px;
    right: 0;
    margin: auto;
}

#maps {
    position: absolute;
    top: 1365px;
    margin-left: 76px;
}

/*Transitions*/
#hero-section>#left-side>.social-media>.github:hover,
footer>.social-media>.github:hover,
#hero-section>#left-side>.social-media>.linkedin:hover,
footer>.social-media>.linkedin:hover,
#hero-section>#left-side>.social-media>.medium:hover,
footer>.social-media>.medium:hover,
#hero-section>#left-side>.social-media>.stack-overflow:hover,
footer>.social-media>.stack-overflow:hover,
#hero-section>#left-side>.social-media>.instagram:hover,
footer>.social-media>.instagram:hover {
    border: 3px solid #E0E0E0;
}

#tools>img:first-child:hover {
    width: 75px;
    height:120px;
}

#tools>img:nth-child(2):hover {
    width: 80px;
    height:80px;
}

#tools>img:nth-child(3):hover {
    width: 80px;
    height:80px;
}

